SAVE_PATH=
VALID_IMAGES_EXTENSIONS=.jpg,.png,.jpeg
IMAGES_DIR=images
ANNOTATIONS_DIR=labels

# Image processing for YOLO models
PROCESSED_IMAGE_WIDTH=640
PROCESSED_IMAGE_HEIGHT=640

PROCESSED_CHARACTER_HEIGHT_YOLO=32
PROCESSED_CHARACTER_WIDTH_YOLO=32

# Image processing for translation model
PROCESSED_CHARACTER_HEIGHT=28
PROCESSED_CHARACTER_WIDTH=28

# Training parameters
BETA1=0.5
WORKERS=4
BATCH_SIZE=128
NUM_EPOCHS=100
MINI_BATCHES=500
LEARNING_RATE=0.0002
RATIO_VALIDATION=0.25
CHARACTERS_LOWERCASE=

USE_GPU=False
